.businessmanage
    height : 100%
    .business
        display: block
        width: 150px;
        background-color: #F4F6F8
        border: 1px solid #DEDEDE
        margin-right: 10px;
        .item
            height: 45px
            line-height: 45px
            padding: 0 15px
        .currentItem
            background: #38ADFF
            color : #fff
    .business-wrap
        background-color: #fff
        padding:20px
        .layout
            line-height: 20px;
            padding: 8px 10px;
            border: 1px solid #ede7c1;
            background: #fffada;
            margin-top: 10px;
        .layoutTab
            position: relative
        .layoutPanel
            border: 1px solid #cfd6e6;
            .layoutLeft
                width: 150px;
                border: 1px solid #cfd6e6;
                background-color: #C9C9C9
            .layoutRight
                width: 100%
        .layoutSave
            background-color: #ECEFF4;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            bottom: 5px;
        .editBusinessField
            color : #49a9ee
            cursor: pointer
        .deleteBusinessField
            color : #49a9ee
            cursor: pointer

    .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content
        display: flex;
        flex: 1;
        overflow-y: scroll;


