.container
    width: '100%'
    .left
        width: 150px
        float: left
        background-color: #F4F6F8
        .name
            text-align: center
            margin-top: 30px
            line-height: 30px
            height: 30px
        .field
            height: 30px
            margin: 10px
            // border:1px solid blue
    .right
        padding-left: 150px;
        width:100%
    .card
        border-bottom: 1px solid #cfd6e6
        border-left 1px solid #cfd6e6
        padding: 20px 10px
        background-color: white
        cursor: move
        .t-ML50
            margin-left: 50px
        .cardInput
            width: 300px
            margin-left: 20px
        .cardDelete
            float: right;
            margin-right: 50px;
            cursor: pointer
            font-size: 20px;
